body {
    font-family: sans-serif;
    color: gray;
}

header {
    text-align: center;
}

span {
    background-color: purple;
    color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 20px;
    
}

*{
  padding: 0;
  margin: 0;
}

div{
    border: solid 5px green;
    padding: 5px;
    margin: 5px;
}

div{
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}


p{
  margin: 10px 0px;
}

main{
    margin-top: 10px;
}

section{
     display: flex;
     justify-content: center;
}

img{
  width: 200px;
}

body{
  color:grey;
  font-family: sans-serif;
  padding: 5px;
}
